.text-center {
  background-color: #001535;
  font-family: 'Kanit', sans-serif;
}

.cover-heading{
  color:#FFD798;
  font-size: 60px;
}

.inner-cover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  padding:100px;
}

.btndiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10rem;
}

.game-btn{
  padding:10px;
  border-radius: 25px;
  height:60px;
  width:250px;
  background-color: #FA9A94;
  color:white;
  font-family: 'KoHo', sans-serif;
  font-size: 15px;
  border:none;
  margin:20px;
}

#creatediv{
  color: #FFD798;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#creatediv p{
  font-size: 45px;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  margin-bottom:70px;
}

#codetitle{
  font-size: 30px;
  margin-bottom:10px;
}

#code{
  font-size:60px;
  font-weight: bold;
}

.images{
  display: flex;
  flex-direction: column;
  color: #FFD798;
  font-family: 'Kanit', sans-serif;
  justify-content: center;
  align-items: center;
  gap:5rem;
}

.images img{
  width:200px;
}
.images-container{
  display: flex;
  flex-direction: row;
  gap:3rem;
}

.imagestitle{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
}

.column{
  display: flex;
  flex-direction: column;
}